{% extends "cloud_notes/notes_base.html" %}
{% block content %}

<h1>Folders</h1>

<form style="margin-left:2px;" action="" method="post" >
    {% csrf_token %}

    <label>
        <span>Select Folder</span><select name="folder" >
        {% for folder in folders %}
        <option value="{{folder.id}}">{{folder.name}}</option>
        {% endfor %}
        </select>
    </label>    
   
   
    <label>
        <span>&nbsp;</span> 
        <input type="submit" name="change_folder" class="button" value="Change Folder" /> 
    </label>             
</form>



<form action="" method="post" >
    {% csrf_token %}
{% for field, error in form.errors.iteritems %}
<div class="field-error">{{field}} - {{error.0}}</div>
{% endfor %}
    <label>
        <div>Create New Folder</div>
        <input id="name" type="text" name="folder" value="{{form.folder.value}}" placeholder="The name of the folder to create" />
    </label>    

    <label>
        <span>&nbsp;</span> 
        <input type="submit" name="create_folder" class="button" value="Create Folder" /> 
    </label>             
</form>

{% endblock %}
