{% extends "cloud_notes/notes_base.html" %}
{% block content %}

<h1>Hash Tags</h1>

<div>
  <ul>
    {% for tag in tags%}
    <li>{{ tag.hash_tag }}</li>
		<ul>
		{% for note in tag.notes.all %}
			{% ifchanged note.folder.name %}
				{% if not forloop.first %}
					</ul>
				{% endif %}
				<li>{{note.folder.name}}</li>
					<ul>
			{% endifchanged %}
			<li>({{note.id}}) <a href="{% url 'cloud_notes.views.preview' note.id %}">{{note.title}}</a></li>
		{% endfor %}
			</ul> <!-- folder group -->
		</ul>
	{% endfor %}
  </ul>

</div>

{% endblock %}
