{% extends "cloud_notes/notes_base.html" %}

{% block content %}
    <!-- Form based on http://www.sanwebe.com/2013/10/css-html-form-styles -->
    <form class="note-form" style="margin-left:2px;" action="" method="post" >
        {% csrf_token %}
        <input type="hidden" name="id" value="{{note.id}}"/>
        <label>
            <span>Title :</span>
            <input id="name" type="text" name="title" value="{{note.title}}" placeholder="The title of your note" />
        </label>
        
       
        <label>
            <span>Contents :</span>
            <textarea id="message" rows="20" name="note" placeholder="Type your note in here">{{note.note}}</textarea>
        </label> 
         <label>
            <span>&nbsp;</span> 
            <input type="submit" name="save" class="button" value="Save" /> 
        </label> 
         <label>
            <span>&nbsp;</span> 
            <input type="submit" name="cancel" class="button" style="float:right;" value="Cancel" /> 
        </label>             
    </form>
    <br style="float: left; clear: left;"/>
    <br style="float: left; clear: left;"/>
    <hr/>
{% endblock %}
