{% extends "base.html" %}

{% block menu_title %}Notes Menu{% endblock %}
{% block button_menu %}
<ul id="app-button-menu-container" class="btn-menu-container">

    <li><a href="{% url 'cloud_notes.views.list' %}" class="button-link">Note List</a></li>
    <li><a href="{% url 'cloud_notes.views.new_note' %}" class="button-link">New Note</a></li>
    <li><a href="{% url 'cloud_notes.views.upload_note' %}" class="button-link">Upload Note</a></li>
	<li><a href="#" class="button-link">Labels</a></li>
    <li><a href="{% url 'cloud_notes.views.folders' %}" class="button-link">Folders</a></li>
    <li><a href="#" class="button-link">Preferences</a></li>
    <li><a href="{% url 'cloud_notes.views.import_file' %}" class="button-link">Import</a></li>
    <li><a href="{% url 'cloud_notes.views.export' %}" class="button-link">Export</a></li>
    {% if request.user.is_superuser %}
    <li><a href="{% url 'cloud_notes.views.import_all' %}" class="button-link">Import All</a></li>
    <li><a href="{% url 'cloud_notes.views.export_all' %}" class="button-link">Export All</a></li>
    {% endif %}
    <li><a href="{% url 'logos.views.profile' %}" class="button-link">Main Menu</a></li>
</ul>
{% endblock %}