{% extends 'pybb/base.html' %}

{% block pybb_crumbs %}Главная страница{% endblock %}

{% block content %}

{% for cat in cats %}
<h3>{{ cat }}</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Forum</th>
            <th>Threads</th>
            <th>Posts</th>
        </tr>
    </thead>
    <tbody>
        {% for forum in cat.forums.all %}
        <tr>
            <td><a href="{{ forum.get_absolute_url }}">{{ forum }}</a></td>
            <td style="text-align:right;">{{ forum.topic_count }}</td>
            <td style="text-align:right;">{{ forum.post_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
