{% extends 'pybb/base.html' %}

{% block pybb_crumbs %}
<li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum }}</a></li>
{% endblock %}

{% block content %}
<h1>{{ topic }}</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Author</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>
                <a href="#"><i class="icon-user"></i> {{ post.user }}</a>
                <div class="muted"><i class="icon-time"></i> {{ post.created|date:"d M, Y H:i" }}</div>
            </td>
            <td>{{ post.content|linebreaks }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'pybb:post_add' %}?topic={{ topic.pk }}">
        {% csrf_token %}
        {% include "pybb/form_field.html" with field=post_form.content %}
        <p>
            <button class="btn">Reply</button>
        </a>
    </form>
    {% else %}
    <a class="btn btn-info" href="{% url 'pybb:post_add' %}?topic={{ topic.pk }}">Reply</a>
    {% endif %}
</p>
{% endblock %}
