{% extends "cloud_memos/memos_base.html" %}

{% block content %}
<ul class="splat-memos">
    {% for memo in memos %}
    
	<li>{% if not memo.viewed_on %}<span class="unread">unread</span>{% endif %}
	<span class="memo-sender">Recipient: <span>{{ memo.to_user.username }}</span>
	<div class="memo-subject">Subject: <a class="memo-subject" href="{% url 'cloud_memos.views.preview' memo.id %}">{{memo.subject}}</a></div>
    <div class="memo-date">Sent: <span>{{ memo.created }}</span></div>
    <div class="memo-text">{{memo.text|truncatewords:20}}</div>
	<br/></li>
    {% empty %}
    <li><span id="no-memos">Sorry, no memos found in this box</span></li>
    {% endfor %}
</ul>    


<!--<div class="tag-cloud">-->
<!--<h2>Tag Cloud <span>(most recently used)</span></h2>-->
<!--<p id="tags"><span class="tag-size1">#bible</span>-->
<!--<span class="tag-size3">#kingdom</span>-->
<!--<span class="tag-size2">#teaching</span>-->
<!--</p>-->
<!--</div>-->
{% if memos.has_other_pages %}
<div class="pagination">
                <a href="?page=1" class="page gradient">first</a>
                {% if notes.has_previous %}
                <a href="?page={{notes.previous_page_number}}" class="page gradient">prev</a>
                {% endif %}
                <span class="page active">{{notes.number}}</span>
                {% if notes.has_next %}
                <a href="?page={{notes.next_page_number}}" class="page gradient">next</a>
                {% endif %}
                <a href="?page={{notes.paginator.num_pages}}" class="page gradient">last</a>
</div> <!-- pagination -->        
{% endif %}
{% endblock %}
