beautifulsoup4==4.3.2
bleach==3.2.1
certifi==2018.11.29
Django==1.8.13
django-breadcrumbs===1.1.3-p1
django-common==0.1.51
django-guardian==1.4.4
django-haystack==2.4.1
django-permissions-widget==1.4.0
django-registration-redux==1.4
facebook-sdk==1.0.0
feedparser==5.2.1
GitPython==0.3.6
google-api-python-client==1.4.2
lxml==4.6.2
Markdown==2.6.1
oauth2client==1.5.2
oauthlib==1.0.3
praw==3.5.0
psutil==5.7.3
python-dateutil==2.4.0
python-twitter==2.2
pytz==2014.10
requests==2.24.0
requests-oauthlib==0.5.0
rsa==3.3
simplejson==3.8.1
six==1.10.0
smmap==0.9.0
sympy==1.0
Twisted==20.3.0
#Removed because not compatible with windows
#uWSGI==2.0.13.1
Whoosh==2.7.0
