Django==2.2.19
django-guardian==2.3.0
django-permissions-widget==1.5.2
django-registration-redux==2.9
django-widget-tweaks==1.4.8
gitpython==3.1.14
python-dateutil==2.8.1
aiohttp~=3.7
cchardet==2.1.7
aiodns==3.0.0
