
{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}
{% block style %} 
#password-change-fieldset {
    width: 350px;
}

#user-message {
    width: 350px;
}

{% endblock %}


{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p id="user-message">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset id="password-change-fieldset">
    <legend id="password-change-legend">Change Password</legend> 
<form action="" method="post">
{% csrf_token %}
{% include "partials/form_fields.html" %}
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>



{% endblock %}

{% block content-related %}

{% endblock %}