{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h1>Create an account</h1>

  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}


<div class="fieldset-wrapper">
<fieldset id="registration-fieldset">
    <legend id="registration-legend">Registration Form</legend>  
  <form method="post" action="" class="wide">
	{% csrf_token %}
        {% include "partials/form_fields.html" %}  
    
    <input type="submit" value="Register &rarr;">
  </form>
</fieldset>
</div>
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
