{% extends "base.html" %}
{% block style %}
{{ block.super }}
{% endblock %}

{% block menu_title %}Prayers{% endblock %}
{% block button_menu %}
<ul id="app-button-menu-container" class="btn-menu-container">
    {% comment %}
    <li><a href="{% url 'reddit:mysubreddits' %}" class="button-link">My Subreddits</a></li>
    <li><a href="{% url 'reddit:new_post' %}" class="button-link">New Post</a></li>
    <li><a href="{% url 'reddit:pending_posts' %}" class="button-link">Pending Posts</a></li>
    <li><a href="{% url 'reddit:pending_comments' %}" class="button-link">Pending Comments</a></li>
    <li><a href="{% url 'reddit:feed-add' %}" class="button-link">New Feed</a></li>
    <li><a href="{% url 'logos.views.profile' %}" class="button-link">Main Menu</a></li>
    {% endcomment %}
</ul>
{% endblock %}
