{% extends "base_nav.html" %}
{% load static from staticfiles %}

{% block style %}
#div-logos-colours {
   margin: 10px;
}

#room-buttons {
   float: left;
   margin: 15px 0 20px 0;

}
#colour-tables {
   float: left;
   clear: left;
}

.colour-table {
    border: #666 solid 1px;
    border-radius: 10px;
    padding: 10px;
    background: #ddd;
    width:150px;
}

#foreground-table {
    margin: 5px;
    float: left;
    text-align: center;
}
#background-table {
    margin: 5px;
    float: left;
    text-align: center;
}

#samples {
   float: left;
   clear: left;
}

#submit-buttons {
    float: left;
    clear: left;
    margin-left: 10px;
}

#submit-buttons button {
    width: 150px;
    height: 35px;
    border: none;
    color: #ddd;
    margin-right: 5px;
    background: url(/static/rounded_rectangle.jpg) no-repeat;
}
.sample-verse {
    float: left;
    margin: 10px;
    width: 150px;
    border-style: dotted;
    border-width: 1px;
    border-color: green;
    padding: 5px;
    border-radius: 10px;
    
}

.translation {
   border-style: dotted;
   border-width: 1px;
   border-color: green;
   cursor: pointer;
}


.verse-ref {
   border-style: dotted;
   border-width: 1px;
   border-color: green;
   cursor: pointer;
}
.verse-text {
   padding: 5px;
   border-style: dotted;
   border-width: 1px;
   border-color: green;
   cursor: pointer;   
}

.colour-table-title {
   font-family: serif;
}

.colour-tab {
   border-style: dotted;
   border-width: 1px;
   border-color: grey;
   /* 
   border-spacing, border-collapse based on advice from
   http://stackoverflow.com/questions/339923/set-cellpadding-and-cellspacing-in-css
   */
   border-spacing: 4px;
   border-collapse: separate;
   background: #666;
   display: inline-table;
}

.mirc-colour {
   width: 15px;
   height: 10px;
   cursor: pointer;
}

/* mIRC colours taken from */
/* http://www.mirc.com/colors.html */


.mirc-col0 { background: white; }
.mirc-col1 { background: black; }
.mirc-col2 { background: rgb(0,0,127); } /* blue */
.mirc-col3 { background: rgb(0,147,0); } /* green */

.mirc-col4 { background: rgb(255,0,0); } /* light red */
.mirc-col5 { background: rgb(127,0,0); } /* brown */
.mirc-col6 { background: rgb(156,0,156); } /* purple */
.mirc-col7 { background: rgb(252,127,0); } /* orange */

.mirc-col8 { background: rgb(255,255,0); } /* yellow */
.mirc-col9 { background: rgb(0,252,0); } /* light green */
.mirc-col10 { background: rgb(0,147,147); } /* cyan */
.mirc-col11 { background: rgb(0,255,255); } /* light cyan */

.mirc-col12 { background: rgb(0,0,252); } /* light blue */
.mirc-col13 { background: rgb(255,0,255); } /* pink */
.mirc-col14 { background: rgb(127,127,127); } /* grey */
.mirc-col15 { background: rgb(210,210,210); } /* light grey */

.colour-selected {
   border-style: solid;
   border-width: 1px;
   border-color: yellow;
}

.selected-rm-btn {
    color: yellow;
}
.unselected-rm-btn {
   color: #f2f2f2;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#1a3d54), to(#65a9d7));
   background: -webkit-linear-gradient(top, #1a3d54, #65a9d7);
   background: -moz-linear-gradient(top, #1a3d54, #65a9d7);
   background: -ms-linear-gradient(top, #1a3d54, #65a9d7);
   background: -o-linear-gradient(top, #1a3d54, #65a9d7);
   padding: 10.5px 21px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;

   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   }
   
.button:active {
   border-top-color: #3c62a3;
   background: #3c62a3;
   }
   
{% endblock %}

{% block head_javascript %}
  var network = "{{network}}";
  var currRoom = "{{rooms.0|slice:'1:'}}";
{% endblock %}


{% block assets %}
{{ block.super }}
<script type="text/javascript" src="{% static 'cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'logos_colours.js' %}"></script>
{% endblock %}

{% block content %}

{% if errors %}
<div class="messages">{{errors}}</div>

{% else %}

<div id="div-logos-colours">

<div id="room-buttons">
{% for rm in rooms %}
<button class="button unselected-rm-btn" data-value="{{rm|slice:'1:'}}" id='btn-{{rm|slice:"1:"}}'>{{rm}}</button>
{% endfor %}
</div>

<div id="colour-tables" style="float:left;">
<div class="colour-table" id="foreground-table">
<p class="colour-table-title">mIRC Foreground<br/>Colour Table</p>
<table class="colour-tab">
<tr>
<td class="mirc-colour mirc-col0">&nbsp;</td>
<td class="mirc-colour mirc-col1">&nbsp;</td>
<td class="mirc-colour mirc-col2">&nbsp;</td>
<td class="mirc-colour mirc-col3">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col4">&nbsp;</td>
<td class="mirc-colour mirc-col5">&nbsp;</td>
<td class="mirc-colour mirc-col6">&nbsp;</td>
<td class="mirc-colour mirc-col7">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col8">&nbsp;</td>
<td class="mirc-colour mirc-col9">&nbsp;</td>
<td class="mirc-colour mirc-col10">&nbsp;</td>
<td class="mirc-colour mirc-col11">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col12">&nbsp;</td>
<td class="mirc-colour mirc-col13">&nbsp;</td>
<td class="mirc-colour mirc-col14">&nbsp;</td>
<td class="mirc-colour mirc-col15">&nbsp;</td>
</tr>

</table>
</div> <!-- foreground table -->
<div class="colour-table" id="background-table">
<p class="colour-table-title">mIRC Background<br/>Colour Table</p>
<table class="colour-tab">
<tr>
<td class="mirc-colour mirc-col0">&nbsp;</td>
<td class="mirc-colour mirc-col1">&nbsp;</td>
<td class="mirc-colour mirc-col2">&nbsp;</td>
<td class="mirc-colour mirc-col3">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col4">&nbsp;</td>
<td class="mirc-colour mirc-col5">&nbsp;</td>
<td class="mirc-colour mirc-col6">&nbsp;</td>
<td class="mirc-colour mirc-col7">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col8">&nbsp;</td>
<td class="mirc-colour mirc-col9">&nbsp;</td>
<td class="mirc-colour mirc-col10">&nbsp;</td>
<td class="mirc-colour mirc-col11">&nbsp;</td>
</tr>
<tr>
<td class="mirc-colour mirc-col12">&nbsp;</td>
<td class="mirc-colour mirc-col13">&nbsp;</td>
<td class="mirc-colour mirc-col14">&nbsp;</td>
<td class="mirc-colour mirc-col15">&nbsp;</td>
</tr>

</table>
</div> <!-- background-table -->
</div> <!-- colour-tables -->

<div id="samples">
<div id="verse-example" class="sample-verse">
<p>Normal Verse Display</p>
<span class="colour-elmt translation">&nbsp;KJV&nbsp;</span>
<span class="colour-elmt verse-ref">&nbsp;John 3:16&nbsp;</span>
<div class="colour-elmt verse-text">For God so loved the world that he gave his only begotten son,
that whosoever believeth in Him shall not perish but have everlasting life.</div>
</div>

<div id="search-example" class="sample-verse">
<p>Search Results Display</p>
<span class="colour-elmt translation">&nbsp;KJV&nbsp;</span>
<span class="colour-elmt verse-ref">&nbsp;John 3:16&nbsp;</span>
<div class="colour-elmt verse-text">For God so loved the world that he gave his only begotten son,
that whosoever <u class="colour-elmt">believeth</u> in Him shall not perish but have everlasting life.</div>
</div>
</div> <!-- samples -->
<div id='submit-buttons'>
<button id='apply'>Apply</button>
<button id='revert'>Revert</button>
</div>           
</div>
{% endif %}

{% endblock content %}
