body {
    margin: 0;
    padding: 0;
}

a {
    color: #272;
}

h2 span {
    font-size: small;
}

.note-preview strong {
	font-weight: 700;
	color: steelblue;
}
form {
    margin-bottom: 10px;
    margin-right:20px;
}
#container {

    width:100%;
}

#django-messages {
	float:left;
	clear:left;
	border: 1px dotted blue;
	margin-left: 15px;
	background-color: PowderBlue;
	padding-right: 10px;
	border-radius: 10px;
	
}

.unread { 
	font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
	color: yellow;
	background: cornflowerblue;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	position: relative;
	top: -5px;
}

/* ------- login panels ------------- */
#login-fieldset {
    border-radius: 5px;

}

.fieldset-wrapper {
    float: left;
}

/*######## Smart Green ########*/
.smart-green {

    background: #F8F8F8;
    padding: 30px 10px 20px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}

a {
    margin:0;
}


.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

label {
    display: block;
    margin: 0px 0px 5px;
    float:left;
    clear: left;
    width:100%;
}
label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}


input[type="submit"] {
    background: #272;
    color: #FFF;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);                
}

input:not([type="submit"]) {
    width: 100%;
}

input, textarea, select {
    color: #555;
    height: 40px;
    line-height:15px;

    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 20px Arial, Helvetica, sans-serif;
}
textarea{
    height:250px;
    padding-top: 10px;
    line-height: 2.3ex;
    font-size: large;
    width:100%;
}
select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
/*    width:100%;*/
    height:30px;
}
.button {
    background-color: #9DC45F;
    border-radius: 5px;
/*    -webkit-border-radius: 5px;*/
/*    -moz-border-border-radius: 5px;*/
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    float: left;
    margin-right: 25px;
}
.button:hover {
    background-color:#80A24A;
}  

#form-errors {
    border: 1px solid brown;
    background: yellow;
    color: #C33;
    padding-right: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    clear:left;
}

.errorlist {
    /* remove extra left indent to bullet point */
    padding-left: 1.4em;
}

/* ------------------------------ */
.splat-memos, .splat-notes {
    list-style: none;
    margin-left: -30px;
}
.note-title {
    font-size: 20px;
}
.splat-notes li:before {
    font-size: large;
    content: "\0BB \020";
}

.splat-memos   li:before {
    content: "\0BB \020";
}

.splat-notes div {
    text-indent: 1.3em;    
}  


.splat-notes .note-date {

    font-size: small;
}  

/*.splat-notes .note-date span {*/
/*    display:block;*/

/*    margin-left: 10px;*/
/*}*/
  
.splat-notes .note-excerpt {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    font-size: 16px;
}
.note-id {
    font-size: small;
}
.note-preview {
    font-size: large; 
    float: left;
    clear: left;   
}

#notes-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    //margin-top: 20px;
    float: left;
    clear: left;
    width: 100%;
}

/* ---------------------- */

.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.page {
    margin-bottom: 10px;
    width: 30px;
    display: inline-block;
    padding: 4px 15px;
    margin-right: 15px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}


.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

/*--------------------------------------------------------*/
/* Based on http://usabilitypost.com/2012/01/10/pressed-button-state-with-css3/ */

#menu-title {
    margin-left: 10px;
}

#top-button-menu-container a.button-link {
    background: #4479BA;
    color: #FFF;
}


a.button-link {
    background: #272;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 25px;

    display:block;
    min-width: 120px;
    margin-right: 15px;
    margin-bottom: 5px;
            
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);            
}

#small-btn-container {
    width:100%;
}
a.small-button-link {
    xfont-size: large;
    text-decoration: none;
    padding: 5px 15px;
    background: #4479BA;
    color: #FFF;
    display:inline;
    width: 60px;
    margin-left: 5px !important;
    margin-right: 10px;
    margin-bottom: 20px;
            
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);            
}

ul.btn-menu-container li {
    display: inline;
    float: left;
}
ul.btn-menu-container li a {
    display: block;
}

ul.btn-menu-container {
    list-style-type: none;
    margin-left: 20px;

}



.tag-size1 { font-size: 12px; }
.tag-size2 { font-size: 16px; }
.tag-size3 { font-size: 24px; }

.tag-cloud { 
    border: 1px solid #ccc;
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 10px; 
    padding: 5px;
    
}