{% extends "base.html" %}

{% block menu_title %}Reddit Menu{% endblock %}
{% block button_menu %}
<ul id="app-button-menu-container" class="btn-menu-container">

    <li><a href="{% url 'reddit:mysubreddits' %}" class="button-link">My Subreddits</a></li>
    <li><a href="{% url 'reddit:new_post' %}" class="button-link">New Post</a></li>
    <li><a href="{% url 'reddit:feeds' %}" class="button-link">Manage Feeds</a></li>
    <li><a href="{% url 'logos.views.profile' %}" class="button-link">Main Menu</a></li>
</ul>
{% endblock %}
