{% extends 'logos/admin_base.html' %}

{% block style %}
{{block.super}}

.plugin-activated {
  background-color: steelblue;
  font-weight: 600;
  color: yellow;
  border-radius: 5px;
}

form {
  margin-top:5px;
}

form input[type="submit"]{
  font-size: small;
  padding: 5px;
  height: auto;
}

.custom-button-link {
    font-size: small;
  
    text-decoration: none;
    padding: 5px 5px;
    background: #4479BA;
    color: #FFF;
    display:inline;
    width: 60px;
    margin-left: 5px !important;
    margin-right: 10px;
    margin-bottom: 20px;
            
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);            
  
}

.large-vertical-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

{% endblock %}

{% block content %}
<h2>Plugin: {{plugin.plugin.description}} ({{plugin.plugin.name}}) for network &quot;{{plugin.network}}&quot;</h2>

<div>Plugin Status: <span {% if plugin.enabled %}class="plugin-activated"{% endif %}>&nbsp;{{plugin.enabled|yesno:"active,deactivated,error"}}&nbsp;</span> </div>

<form action="" method="post">
        {% csrf_token %}

        <input type="submit" name="activate" class="button" style="display:block;" 
        value="{% if plugin.enabled %}Deactivate{% else %}Activate{% endif %} Plugin" /> 
		<!-- <input type="submit" name="move_folder" class="button" style="display:block;" 
        value="Another button" /> -->
</form>
<div style="clear: both;"></div> <!-- The float clear fix -->

<h5>Rooms</h5>

<ul>
{% for room_plugin in plugin.roomplugins_set.all %}
<li class="large-vertical-spacing">{{room_plugin.room}} {% if plugin.enabled %}{% if room_plugin.enabled %}<span class="plugin-activated">&nbsp;active&nbsp;</span> {% endif %}<a href="{% url 'logos.views.plugin_room_activate'  room_plugin.id %}" class="custom-button-link" style="margin-left:4em;">{% if room_plugin.enabled %}Disable{% else %}Enable{% endif %} Plugin for Room</a>{% endif %}</li>
{% endfor %}

</ul>


{% endblock %}
