{% extends 'logos/admin_base.html' %}

{% block style %}
{{block.super}}


.plugin-activated {
  background-color: steelblue;
  font-weight: 600;
  color: yellow;
  border-radius: 5px;
}

.large-vertical-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}
{% endblock %}

{% block content %}
<h2>Networks</h2>

<p>Warning:  Before deleting a network ensure no running bots are connected to this network first!!  
It may destablise the running bot.</p>

<ul>
{% for network in networks %}
<li class="large-vertical-spacing">{{network}} <a href="{% url 'logos.views.deletenetworkplugins' network %}" class="custom-button-link" style="margin-left:4em;">Delete Network</a></li>
{% endfor %}
</ul>

<h2>Plugins</h2>

<ul>
{% for plugin in plugins %}
  {% ifchanged plugin.plugin.name %}
  {% if not forloop.first %}</li>{% endif %}<li>{{plugin.plugin.description}} ({{plugin.plugin.name}})
  {% endifchanged %}
  <ul>
    <li><a href="{% url 'logos.views.networkplugins' plugin.id %}">{{plugin.network}}</a> {% if plugin.enabled %}<span class="plugin-activated">&nbsp;active&nbsp;</span>{% endif %}</li>
  </ul>

{% endfor %}
</li>
</ul>
{% endblock %}
