{% extends 'gcal/gcal_base.html' %}

{% block style %}
{{block.super}}

ul {
   list-style-type: none; 
}

li {
    margin-left: -40px;
}

label {
    clear:left;
    float:left;
    width:100px;
}

input[type="text"] {
    max-width:200px;
    width:100%;
}

@media screen and (min-width: 400px) {
    li {
        margin-left: auto;
    }

    label {
        text-align: right;
        margin-right:5px;
    }

    input[type="text"] {
        max-width:600px;
        width:100%;
    }
    /*
    body {
        background-color: lightgreen;
    }
    */
}

{% endblock %}

{% block content %}
<h2>Event Detail</h2>

{% if confirm %}
<p>Are you sure you wish to delete this event?</p>
<form action="." method="POST">
    {% csrf_token %}
    <input type="submit" name="confirm" value="Yes"/>
    <input type="submit" name="confirm" value="No"/>
</form>
{% else %}
<form action="." method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete this event?"/>
</form>
{% endif %}
<p><span class="evt-label">Summary:</span>
<span class="evt-detail">{{event.summary}}</span>
</p>

<p><span class="evt-label">Location:</span>
<span class="evt-detail">{{event.location}}</span>
</p>

<p><span class="evt-label">Start Date:</span>
<span class="evt-detail">
    {{event.start_date}}</span>
</p>

<p><span class="evt-label">Start Time:</span>
<span class="evt-detail">
    {{event.start_time}}</span>
</p>

<p><span class="evt-label">Duration (minutes):</span>
<span class="evt-detail">{{event.duration}}</span>
</p>

<p><span class="evt-label">Description:</span>
<span class="evt-detail evt-desc">{{event.description}}</span>
</p>
{% endblock %}
