{% extends 'gcal/gcal_base.html' %}

{% block style %}
{{block.super}}

ul {
   list-style-type: none; 
}

li {
    margin-left: -40px;
}

label {
    clear:left;
    float:left;
    width:100px;
}

input[type="text"] {
    max-width:200px;
    width:100%;
}

@media screen and (min-width: 400px) {
    li {
        margin-left: auto;
    }

    label {
        text-align: right;
        margin-right:5px;
    }

    input[type="text"] {
        max-width:600px;
        width:100%;
    }
    /*
    body {
        background-color: lightgreen;
    }
    */
}

{% endblock %}

{% block content %}
<h2>List</h2>
<ul>
{% for event in events %}
<li>
{% if event.start_date %}{{event.start_date|date:"D d-M-Y"}} {% endif %}
{% if event.start_datetime %}{{event.start_datetime|date:"D d-M-Y H:i"}}{% endif %}
<a href="{% url 'gcalendar.views.event_detail' event.id %}">{{event.summary}}</a>
{% if event.recurringEventId %}(&nbsp;recurring&nbsp;) {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
