{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Splat Notes{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=320, initial-scale=1.0">
<!--    <meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=4.0">-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    
    
    <style>
        {% block style %}
        {% endblock %}
    </style>
    
</head>
<body>
<div id="container">

<div class="smart-green">
    <h1>Splat's Cloud NoteServ / MemoServ / ForumServ / Anything you like ;)
        <span>without all the nonsence javascripts</span>
    </h1>
</div> <!-- smart-green -->
    {% if not suppress_menu and request.user.is_authenticated or show_menu_regardless %}
    <div id="menu-title">
        <h2>{% block menu_title %}Main Menu{% endblock %}</h2>
    </div>
    <div id="button-menu-div">
    {% block button_menu %}
    <ul id="top-button-menu-container" class="btn-menu-container">
		<li><a href="{% url 'logos.views.admin' %}" class="button-link">Administration</a></li>
        <li><a href="{% url 'cloud_notes.views.list' %}" class="button-link">Notes</a></li>
        <li><a href="{% url 'cloud_memos.views.inbox' %}" class="button-link">Memos</a></li>
        {% for button, view in menu_buttons %}
        <li><a href="{% url view %}" class="button-link">{{button}}</a></li>
        {% endfor %}
		<li><a href="/accounts/password/change/" class="button-link">Password Change</a></li>
        <li><a href="/accounts/logout/" class="button-link">Logout</a></li>
    </ul>
    {% endblock %}
    </div>
    {% endif %}
	<!-- pre-content is used for headers, titles, anything really
	 that a specific user function category might want. -->
	{% block pre_content %}{% endblock %}

	{% if messages %}
	<div id="django-messages">
	<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
	</ul>
	</div>
	{% endif %}

    {% if form.errors %}
    <div id="form-errors">
	<span>There were form errors:</span>
    {{ form.errors }}
    </div>
    {% endif %}

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>       



   
</div> <!-- container -->
<br/>
<br/>
</body>

</html>
